@import "color";

body {
  background: url('http://picz.in/data/media/3/Abstract-Black-Textures-Artwork-Backgrounds.jpg') no-repeat center center fixed;
  background-size: cover;
}

.title, h1 {
  text-align: center;
  font-weight: 600;
  text-dectoration: underline;
  color: $white;
}



.card {
  opacity: 0.5;
  transition: 0.25s ease-in-ease-out;
}

.card:hover {
  opacity: 1;
  transition: .25s ease-in-ease-out;
}

.content {
  overflow: hidden;
}


.comic-btn {
  color: $navy;
}

.comic-btn {
  margin: auto;
  text-align: center;
}


div.mainContainer.ng-enter {
  transition: 0.25s linear all;
  opacity: 0;
}

div.mainContainer.ng-enter.ng-enter-active {
  opacity: 1;
}

.list div.ng-leave {
  transition: 0.25s linear all;
  opacity: 1;
  transform: translateY(0);
}

.list div.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateY(-100%);
}

.animate-show {
    -webkit-transition: all linear 0.25s;
    transition: all linear 0.25s;
    opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block !important;
}
.animate-show.ng-hide {
    -webkit-transition: all linear 0.25s;
    transition: all linear 0.25s;
    opacity: 0;
}

.animate-show-hover-button.ng-hide-add,
.animate-show-hover-button.ng-hide-remove {
    display: inline-block !important;
}
.animate-show-hover-button.ng-hide {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    opacity: 0;
}



