<h1>INSIDE character-list</h1>
<div class="container">
  <h1>HERO</h1>
    <div ng-repeat="character in characters |filter:{isVillain:false}">
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-3 card">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <div class="panel-title">
                <p>{{character.name}}</p>
                <p>AKA: {{character.real_name}}</p>
              </div>
            </div>
              <div class="thumbnail">
                <img src="{{character.image}}">
              </div>
              <div class="panel-body">
                <p>First Appeared In Issue: {{character.first_appeared_in_issue.name}}</p>
                <p>Bio: {{character.deck}}</p>
              </div>
          </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>VILLAIN</h1>
  <div ng-repeat="character in characters |filter:{isVillain:true}">
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-3 card">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <div class="panel-title">
                <p>{{character.name}}</p>
                <p>AKA: {{character.real_name}}</p>
              </div>
            </div>
              <div class="thumbnail">
                <img src="{{character.image}}">
              </div>
              <div class="panel-body">
                <p>First Appeared In Issue: {{character.first_appeared_in_issue.name}}</p>
                <p>Bio: {{character.deck}}</p>
              </div>
          </div>
      </div>
  </div>
</div>


</div>
