<h1>INSIDE comic-list</h1>
<div class="container">
    <h1>Owned</h1>
    <div ng-repeat="comic in comics |filter:{isOwned:true}">
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-3 card">
          <div class="panel panel-warning">
            <div class="panel-heading">{{comic.title}}</div>
              <div class="thumbnail">
                <img src="{{comic.image}}">
              </div>
              <div class="panel-body">Start Year: {{comic.start_year}}</div>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <h1>Want</h1>
  <div ng-repeat="comic in comics |filter:{isOwned:false}">
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-3 card">
          <div class="panel panel-warning">
            <div class="panel-heading">{{comic.title}}</div>
              <div class="thumbnail">
                <img src="{{comic.image}}">
              </div>
              <div class="panel-body">Start Year: {{comic.start_year}}</div>
          </div>
      </div>
  </div>
</div>


</div>