<div class="container col-xs-4 col-xs-offset-4">
  <h1>Search Comics</h1>
  <input type="text" placeholder="find comics" ng-model="comicSearch">
  <button class="btn btn-warning" ng-click="findComics()">Find Comic Book</button>
</div>




<div class="container">
    <div ng-repeat="comic in comicAPIresults" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-3 card">
          <div class="panel panel-warning">
            <div class="panel-heading">{{comic.name}}</div>
              <div class="thumbnail">
                <img src="{{comic.image.medium_url}}">
              </div>
              <div class="panel-body">Start Year: {{comic.start_year}}</div>
              <span ng-show="hoverButtons" class="animate-show-hover-button">
                <button class="btn btn-info col-xs-6" ng-click="isOwned(comic)">Own It</button>
                <button class="btn btn-info col-xs-6" ng-click="notOwned(comic)">Want It</button>
              </span>
          </div>
      </div>
  </div>
</div>



