<div class="container col-xs-offset-6">
  <input type="text" placeholder="find comics" ng-model="comicSearch">
  <button class="btn btn-warning" ng-click="findComics()">Find Comic Book</button>
</div>




<div class="container">
  <h1>Search For A Comic Book</h1>
    <div ng-repeat="comic in comicAPIresults">
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-3 card">
          <div class="panel panel-warning">
            <div class="panel-heading">{{comic.name}}</div>
              <div class="thumbnail">
                <img src="{{comic.image.medium_url}}">
              </div>
              <div class="panel-body">Start Year: {{comic.start_year}}</div>
                <button class="btn-success col-xs-6" ng-click="isOwned(comic)">Own It</button>
                <button class="btn-success col-xs-6" ng-click="notOwned(comic)">Want It</button>
          </div>
      </div>
  </div>
</div>



