<div class="container col-xs-4 col-xs-offset-4 search">
  <h1>Find Characters</h1>
  <input type="text" placeholder="find hero or villain" ng-model="characterSearch">
  <button class="btn btn-warning search-btn" ng-click="findCharacters()">Find Characters</button>
</div>




<div class="container">
  <div ng-repeat="character in characterAPIresults" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-3 card">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <div class="panel-title">
                <p>{{character.name}}</p>
                <p>AKA: {{character.real_name}}</p>
              </div>
            </div>
              <div class="thumbnail">
                <img src="{{character.image.medium_url}}">
              </div>
              <div class="panel-body">
                <p>First Appeared In Issue: {{character.first_appeared_in_issue.name}}</p>
                <p>Bio: {{character.deck}}</p>
              </div>
              <span ng-show="hoverButtons" class="animate-show-hover-button">
                <button class="btn-warning col-xs-6" ng-click="isHero(character)">HERO</button>
                <button class="btn-danger col-xs-6" ng-click="isVillain(character)">VILLIAN</button>
                </span>
          </div>
      </div>
  </div>
</div>
