body {
  background: url("http://picz.in/data/media/3/Abstract-Black-Textures-Artwork-Backgrounds.jpg") no-repeat center center fixed;
  background-size: cover; }


/* navbar styles */
.navbar-default .navbar-nav > li > a {
  color: #B10DC9;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-ease-out; }

.navbar-default {
  border: none;
  background-color: transparent; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-radius: 10px;
  background-color: #fbcb6a;
  color: #FF4136; }

/* End navbar styles */

.title, h1 {
  text-align: center;
  font-weight: 600;
  text-dectoration: underline;
  color: #fff; }

/* comic and character styles */

.card {
  opacity: 0.5;
  transition: 0.25s ease-in-ease-out; }

.card:hover {
  opacity: 1;
  transition: .25s ease-in-ease-out; }

.content {
  overflow: hidden; }

.comic-btn {
  color: #001f3f; }

.comic-btn {
  margin: auto;
  text-align: center; }

/* animation for characters */

div.mainContainer.ng-enter {
  transition: 0.25s linear all;
  opacity: 0; }

div.mainContainer.ng-enter.ng-enter-active {
  opacity: 1; }

.list div.ng-leave {
  transition: 0.25s linear all;
  opacity: 1;
  transform: translateY(0); }

.list div.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateY(-100%); }

.animate-show {
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
  opacity: 1; }

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display: inline-block !important; }

.animate-show.ng-hide {
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
  opacity: 0; }

.animate-show-hover-button.ng-hide-add,
.animate-show-hover-button.ng-hide-remove {
  display: inline-block !important; }

.animate-show-hover-button.ng-hide {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
  opacity: 0; }

/* carousel style */

img.img-carousel {
  height: 50%;
  width: 80%; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.container:hover .image {
  opacity: 0.3; }

.container:hover .middle {
  opacity: 1; }

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px; }
